<%#einaweb:require lang.json%>
<%#einaweb:each %>
<%#einaweb:name `${data.content.url[file]}`%>
<%-include("head.inc", data)%>

<section class="company push-top">
  <h1 class="txt-center"><%=data.content.about.mainHeader%></h1> <p><%=data.content.about.text3a%></p>
  <p><%=data.content.about.text3b%></p>
  <div class="dflex jct-center">
    <img src="img/einabit-no-loop.gif" />
  </div>
  <p><%=data.content.about.text3c%></p>
</section>
<a id="contact" />
<section class="feature-wide darkblue">
  <h2 class="txt-center bold"><%=data.content.about.contactHeader%></h2>
  <p><%-data.content.about.contactText%></p>
</section>
<section class="push-top about bg-pattern-1">
  <h2 class="txt-center"><%=data.content.about.ourTeam%></h2>
  <div class="dflex wrap two">
    <custom-highlight class="push-bottom shadow border-radius">
      <img src="profile/ciro.png" alt="Ciro Iván Agulló Guarinos" />
      <div class="footer-line"></div>
      <div>
        <h2>Ciro Iván Agulló</h2>
        <h3><%=data.content.about.ciro.title%></h3>
        <p><%=data.content.about.ciro.exp%></p>
      </div>
      <a class="icon-linkedin" href="www.linkedin.com/in/ciroivandev/"></a>
    </custom-highlight>
    <custom-highlight class="push-bottom shadow border-radius">
      <img src="profile/rober.png" alt="Roberto Priego Sánchez"/>
      <div class="footer-line"></div>
      <div>
        <h2>Roberto Priego Sánchez</h2>
        <h3><%=data.content.about.rober.title%></h3>
        <p><%=data.content.about.rober.exp%></p>
      </div>
      <a class="icon-linkedin" href="https://www.linkedin.com/in/roberto-priego-433744a4/"></a>
    </custom-highlight>
  </div>
  <div class="dflex wrap two">
    <custom-highlight class="push-bottom shadow border-radius">
      <img src="profile/jorge.png" alt="Jorge Peidro Oltra" />
      <div class="footer-line"></div>
      <div>
        <h2>Jorge Peidro Oltra</h2>
        <h3><%=data.content.about.jorge.title%></h3>
        <p><%=data.content.about.jorge.exp%></p>
      </div>
      <a class="icon-linkedin" href="https://www.linkedin.com/in/jorge-peidro-oltra-7a57351ba/"></a>
    </custom-highlight>
    <custom-highlight class="push-bottom shadow border-radius">
      <img src="profile/adri.png" alt="Adri Seguí Rico"/>
      <div class="footer-line"></div>
      <div>
        <h2>Adri Seguí Rico</h2>
        <h3><%=data.content.about.adri.title%></h3>
        <p><%=data.content.about.adri.exp%></p>
      </div>
      <a class="icon-linkedin" href="https://www.linkedin.com/in/adrianseguirico/"></a>
    </custom-highlight>
  </div>
</section>
<%-include("foot.inc")%>
