<%#autoweb:require lang.json%>
<%#autoweb:each %>
<%#autoweb:name about.$lang.html%>
<%-include("head.inc", data)%>
<section>
  <h1><%=data.content.about.mainHeader%></h1>
</section>
<section>
  <h3><%=data.content.about.text3a%></h3>
  <h3><%=data.content.about.text3b%></h3>
  <h3><%=data.content.about.text3c%></h3>
</section>
<section>
  <h2><%=data.content.about.contactHeader%></h2>
  <h2><%-data.content.about.contactText%></h2>
</section>
<section>
  <h2><%=data.content.about.ourTeam%></h2>
</section>
<section class="about">
  <div>
    <img src="profile/ciro.png" />
    <div>
      <h4><span>Ciro Iván Agulló</span> - [<%=data.content.about.ciro.title%>]</h4>
      <p><%=data.content.about.ciro.exp%></p>
    </div>
  </div>
  <hr />
  <div>
    <img src="profile/rober.png" />
    <div>
      <h4><span>Roberto Priego Sánchez</span> - [<%=data.content.about.rober.title%>]</h4>
      <p><%=data.content.about.rober.exp%></p>
    </div>
  </div>
  <hr />
  <div>
    <img src="profile/jorge.png" />
    <div>
      <h4><span>Jorge Peidro Oltra</span> - [<%=data.content.about.coke.title%>]</h4>
      <p><%=data.content.about.coke.exp%></p>
    </div>
  </div>
  <hr />
  <div>
    <img src="profile/adri.jpeg" />
    <div>
      <h4><span>Adri Seguí Rico</span> - [<%=data.content.about.coke.title%>]</h4>
      <p><%=data.content.about.coke.exp%></p>
    </div>
  </div>
  <hr />
</section>
<%-include("foot.inc")%>
