<%#autoweb:require lang.json%>
<%#autoweb:each %>
<%#autoweb:name clients.$lang.html%>
<%-include("head.inc", data)%>
<section>
  <h1><%=data.content.clients.mainHeader%></h1>
  <p><%=data.content.clients.advice%></p>
  <p></p>
</section>
<section>
  <p><strong><%=data.content.clients.client1.name%></strong></p>
  <p><%=data.content.clients.client1.text1%></p>
  <p><%=data.content.clients.client1.text2%></p>
  <p><%=data.content.clients.client1.text3%></p>
  <p><%=data.content.clients.client1.text4%></p>
  <p><%=data.content.clients.client1.text5%></p>
</section>
<section>
  <p><strong><%=data.content.clients.client2.name%></strong></p>
  <p><%=data.content.clients.client2.text1%></p>
  <p><%=data.content.clients.client2.text2%></p>
  <p><%=data.content.clients.client2.text3%></p>
  <p><%=data.content.clients.client2.text4%></p>
  <p><%=data.content.clients.client2.text5%></p>
</section>
<section>
  <p><strong><%=data.content.clients.client3.name%></strong></p>
  <p><%=data.content.clients.client3.text1%></p>
  <p><%=data.content.clients.client3.text2%></p>
  <p><%=data.content.clients.client3.text3%></p>
  <p><%=data.content.clients.client3.text4%></p>
  <p><%=data.content.clients.client3.text5%></p>
</section>
<%-include("foot.inc")%>
