<%#autoweb:require lang.json%>
<%#autoweb:each%>
<%#autoweb:name index.$lang.html%>
<%-include("head.inc", data)%>
<section class="primary home">
  <div class="inner">
    <custom-header><%=data.content.head.mainHeader%></custom-header>
    <div class="dflex jct-center">
      <custom-cta><%=data.content.head.cta%></custom-cta>
    </div>
  </div>
</section>
<section>
  <h1><%-data.content.index.mainHeader%></h1>
  <h3><%-data.content.index.mainSub%></h3>
</section>
<section>
  <h2><%-data.content.index.header1%></h2>
  <p><%-data.content.index.p1%></p>
</section>
<section>
  <h2><%-data.content.index.header2%></h2>
  <p><%-data.content.index.p2%></p>
</section>
<section>
  <h2><%-data.content.index.header3%></h2>
  <p><%-data.content.index.p3%></p>
</section>
<section>
  <h2><%-data.content.index.header4%></h2>
  <p><%-data.content.index.p4a%></p>
  <p><%-data.content.index.p4b%></p>
</section>
<%-include("foot.inc")%>
