<%#einaweb:require lang.json%>
<%#einaweb:each%>
<%#einaweb:name `${data.content.url[file]}`%>
<%-include("head.inc", data)%>
<section class="primary home bg-pattern-home">
  <div class="inner">
    <custom-home-header><%=data.content.head.mainHeader%></custom-home-header>
    <div class="dflex jct-center">
      <custom-cta onclick="location.href = 'mailto:info@einabit.com'"><%=data.content.head.cta%></custom-cta>
    </div>
  </div>
</section>
<section>
  <custom-highlight class="shadow border-radius" style="margin-top: -80px">
    <h2 class="txt-center"><%-data.content.index.mainHeader%></h2>
    <p class="txt-center"><%-data.content.index.mainSub%></p>
  </custom-highlight>
</section>
<% if (data.lang === "es") { %>
<section class="bg-pattern-2 bg-right" style="margin-top: 80px">
  <video controls poster="thumb/02.png">
     <source src="video/einabit-api.mp4" type="video/mp4">
  </video>
</section>
<% } %>
<section class="vertical-space">
  <h2 class="txt-center"><%-data.content.index.codeheader%></h2>
  <script src="https://gist.github.com/k1r0s/4e909dba290778b1582895fe54109b31.js"></script>
  <p class="txt-center"><%-data.content.index.codedesc%></p>
  <div class="dflex jct-center">
    <custom-cta onclick="location.href = 'mailto:info@einabit.com?subject=<%=data.content.subject.contract%>'"><%=data.content.head.ctacontract%></custom-cta>
  </div>
</section>
<section>
  <h2 class="txt-center"><%=data.content.index.timeline.header%></h2>
  <cite><%-data.content.index.timeline.cite%></cite>
  <ol>
    <% data.content.index.timeline.items.forEach(item => { %>
      <li><%=item%></li>
    <% }); %>
  </ol>
</section>
<section class="feature-wide gray bg-pattern-2 bg-right">
  <h2><%-data.content.index.header4%></h2>
  <p><%-data.content.index.p4a%></p>
  <p><%-data.content.index.p4b%></p>
</section>
<section class="dflex jct-between vertical-space feature-icon">
  <div>
    <div class="dflex jct-between">
      <h2><%-data.content.index.header1%></h2>
      <img class="desktop-hidden w5rem" src="icons/SVG/icono-01.svg"/>
    </div>
    <p><%-data.content.index.p1%></p>
  </div>
  <img class="mobile-hidden w8rem" src="icons/SVG/icono-01.svg"/>
</section>
<section class="dflex jct-between vertical-space feature-icon">
  <div>
    <div class="dflex jct-between">
      <h2><%-data.content.index.header2%></h2>
      <img class="desktop-hidden w5rem" src="icons/SVG/icono-02.svg"/>
    </div>
    <p><%-data.content.index.p2%></p>
  </div>
  <img class="mobile-hidden w8rem" src="icons/SVG/icono-02.svg"/>
</section>
<section class="dflex jct-between vertical-space feature-icon">
  <div>
    <div class="dflex jct-between">
      <h2><%-data.content.index.header3%></h2>
      <img class="desktop-hidden w5rem" src="icons/SVG/icono-03.svg"/>
    </div>
    <p><%-data.content.index.p3%></p>
  </div>
  <img class="mobile-hidden w8rem" src="icons/SVG/icono-03.svg"/>
</section>
<section class="vertical-space">
  <div class="dflex jct-center">
    <custom-cta onclick="location.href = 'mailto:info@einabit.com?subject=<%=data.content.subject.demo%>'"><%=data.content.head.ctademo%></custom-cta>
  </div>
</section>
<%-include("foot.inc")%>
