<%#autoweb:require lang.json%>
<%#autoweb:each %>
<%#autoweb:name tools.$lang.html%>
<%-include("head.inc", data)%>
<section class="push-top">
  <h2 class="txt-center"><%=data.content.tools.mainHeader%></h2>
</section>
<section>
  <custom-highlight class="push-bottom shadow border-radius">
    logo
    <p class="txt-center"><%=data.content.tools.mainSub%></p>
  </custom-highlight>
</section>
<section>
  <div class="dflex wrap two">
    <custom-highlight class="tool-feature push-bottom shadow border-radius">
      <div class="dflex jct-center">
        <img src="icons/tools/docker.png" />
      </div>
      <a href="https://github.com/Einabit/sandbox"></a>
      <p class="txt-center">Docker Sandbox: <%=data.content.tools.sandbox%></p>
    </custom-highlight>
    <custom-highlight class="tool-feature push-bottom shadow border-radius">
      <div class="dflex jct-center">
        <img src="icons/tools/nodejs.png" />
      </div>
      <a href="https://github.com/Einabit/client.js"></a>
      <p class="txt-center">Node SDK: <%=data.content.tools.clientjs%></p>
    </custom-highlight>
  </div>
</section>
<section>
  <div class="dflex wrap two">
    <custom-highlight class="tool-feature push-bottom shadow border-radius">
      <div class="dflex jct-center">
        <img src="icons/tools/python.png" />
      </div>
      <a href="https://github.com/Einabit/client.py"></a>
      <p class="txt-center">Python SDK: <%=data.content.tools.clientpy%></p>
    </custom-highlight>
    <custom-highlight class="tool-feature push-bottom shadow border-radius">
      <div class="dflex jct-center">
        <img src="icons/tools/java.png" />
      </div>
      <a href="https://github.com/Einabit/client.java"></a>
      <p class="txt-center">Java SDK: <%=data.content.tools.clientjava%></p>
    </custom-highlight>
  </div>
</section>
<%-include("foot.inc")%>
