<%#autoweb:require lang.json%>
<%#autoweb:each %>
<%#autoweb:name tools.$lang.html%>
<%-include("head.inc", data)%>
<section>
  <h1><%=data.content.tools.mainHeader%></h1>
  <p><a href="https://github.com/orgs/Einabit/repositories">Einabit - Github</a></p>
  <p><%=data.content.tools.mainSub%></p>
</section>
<section>
  <p><a href="https://github.com/Einabit/sandbox">Sandbox</a></p>
  <p><%=data.content.tools.sandbox%></p>
</section>
<section>
  <p><a href="https://github.com/Einabit/client.js">Nodejs SDK</a></p>
  <p><%=data.content.tools.clientjs%></p>
</section>
<section>
  <p><a href="https://github.com/Einabit/client.py">Python SDK</a></p>
  <p><%=data.content.tools.clientpy%></p>
</section>
<section>
  <p><a href="https://github.com/Einabit/client.java">Java SDK</a></p>
  <p><%=data.content.tools.clientjava%></p>
</section>
<%-include("foot.inc")%>
